<template>
  <el-input
    v-bind="{ ...$attrs, ...props }"
    v-on="{
      ...$listeners,
      focus: handleFocus,
      blur: handleBlur,
      input: handleInput,
    }"
  />
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "input",
  },
};
</script>

<script setup name="AmountInput">
import { useListeners, useAttrs, ref, watch } from "vue";

const emit = defineEmits(["input", "focus", "blur"]);

const $attrs = useAttrs();
const $listeners = useListeners();

const props = defineProps({
  value: {
    type: [String, Number],
    default: 0,
  },
  // 保留几位小数
  decimal: {
    type: Number,
    default: 2,
  },
});

const isFocus = ref(false);

watch(
  () => props.value,
  (val) => {
    if (!isFocus.value) {
      formatAmount(val);
    }
  },
  {
    immediate: true,
  }
);

function formatAmount(value) {
  emit("input", Number(value).toFixed(props.decimal));
}

function handleFocus(...args) {
  isFocus.value = true;
  emit("focus", ...args);
}

function handleBlur(...args) {
  isFocus.value = false;
  formatAmount(props.value);
  emit("blur", ...args);
}

function handleInput(value) {
  const newValue = value.replace(/\D/g, "");
  if (newValue !== props.value) {
    emit("input", newValue.length ? Number(newValue) : "");
  }
}
</script>

<style lang="less" scoped></style>
