<template>
  <el-collapse value="1" class="crm-collapse">
    <el-collapse-item name="1">
      <template slot="title">
        <template v-if="slots.title">
          <slot name="title"></slot>
        </template>
        <span v-else class="crm-collapse-title">{{ title }}</span>
      </template>
      <slot></slot>
    </el-collapse-item>
  </el-collapse>
</template>

<script setup>
import { useSlots } from "vue";

const slots = useSlots();

defineProps({
  title: {
    type: String,
    default: "",
  },
});
</script>

<style lang="less" scoped>
.crm-collapse + .crm-collapse {
  margin-top: 0;
}
.el-collapse {
  margin: 10px;
  padding: 5px 14px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  /deep/.el-collapse-item__header {
    position: relative;
    height: 24px;

    line-height: 24px;

    border-bottom-color: transparent;
    &::after {
      content: "展开";
      position: absolute;
      right: 30px;
      top: 0px;
      color: #1890ff;
    }
    &.is-active::after {
      content: "收起";
    }

    .el-collapse-item__arrow {
      color: #1890ff;
      font-size: 16px;
    }
  }
  .crm-collapse-title {
    font-size: 14px;
    font-weight: 700;
    color: #000;
  }
  /deep/.el-collapse-item__wrap {
    margin-top: 4px;
    border: none;
    border-top: 1px solid #ebeef5;
  }
}
</style>
