<template>
  <el-input
    v-bind="{ ...$attrs, ...props }"
    v-on="{
      ...$listeners,
      focus: handleFocus,
      blur: handleBlur,
      input: handleInput,
    }"
  />
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "input",
  },
};
</script>

<script setup name="CrmInput">
import { useListeners, useAttrs, ref, watch } from "vue";

const emit = defineEmits(["input", "focus", "blur"]);

const $attrs = useAttrs();
const $listeners = useListeners();

const props = defineProps({
  value: {
    type: [String, Number],
    default: 0,
  },
  maxLength: {
    type: Number,
    default: 32,
  },
});

const isFocus = ref(false);

watch(
  () => props.value,
  (val) => {
    if (!isFocus.value) {
      trimValue(val);
    }
  },
  {
    immediate: true,
  }
);

function trimValue(newValue) {
  if (
    newValue &&
    typeof newValue === "string" &&
    newValue.trim().length !== newValue.length
  ) {
    emit("input", newValue.trim());
  }
}

function handleFocus(...args) {
  isFocus.value = true;
  emit("focus", ...args);
}

function handleBlur(...args) {
  isFocus.value = false;
  emit("blur", ...args);
}

function handleInput(value) {
  emit("input", lengthValidate(value, props.maxLength));
}

function lengthValidate(newValue, maxLength) {
  let len = 0;
  for (var i = 0; i < newValue.length; i++) {
    if (newValue.charCodeAt(i) > 127 || newValue.charCodeAt(i) == 94) {
      len += 2;
    } else {
      len++;
    }
    if (len > Number(maxLength)) {
      return newValue.slice(0, i);
    }
  }
  return newValue;
}
</script>

<style lang="less" scoped></style>
