<!-- 
// 使用方法： 
// query 接收一个函数，该函数返回一个 promise，fulfilled 状态的 promise 中返回的数据格式为 {list:列表数据,total:总数据量} 
// query变化时会自动调用 query 使用初始的 page 和 size 请求接口刷新页面 
// 提供 refreshCurrentPage 用于仅刷新当前页的数据 
// 也可以按 element 的原生用法使用，el-table 的其他功能按文档使用即可 

// 列的配置: 
// 1. 可以按 element-ui 的写法手写每一个 el-column-item 
// 2. 也可以像 ant 中配置 columns，ant 中 column 的 title 和 dataIndex 可以不变（组件内部会对应传给 el-column-item prop 和 label ），也可以按 el-column-item 的配置写成 prop 和 label 
// customRender 传入参数与 ant 中用法一致，而 scopedSlots: { customRender:"XXX" } 等于定义一个名为 XXX 的插槽，插槽直接传入 el-table-column 组件自定义 
-->

<template>
  <div>
    <el-table v-bind="{ data: dataSource, ...$attrs }" v-on="$listeners">
      <slot v-if="!(columns && columns.length)"></slot>
      <template v-else>
        <template v-for="column in columns">
          <slot
            v-if="column.scopedSlots && column.scopedSlots.customRender"
            :name="column.scopedSlots.customRender"
          ></slot>
          <el-table-column
            v-else
            v-bind="{ prop: column.dataIndex, label: column.title, ...column }"
          >
            <template
              v-if="
                column.customRender && typeof column.customRender === 'function'
              "
              slot-scope="scope"
            >
              {{
                column.customRender(
                  scope.row[column.dataIndex || column.prop],
                  scope.row,
                  scope.$index
                )
              }}
            </template>
          </el-table-column>
        </template>
      </template>
    </el-table>
    <el-pagination
      class="pagination"
      v-bind="curPagination"
      v-on="{
        'size-change': sizeChangeHandler,
        'current-change': currentChangeHandler,
        ...$listeners,
      }"
    ></el-pagination>
  </div>
</template>

<script>
const defaultPagination = {
  layout: "total, prev, pager, next, sizes,jumper",
  background: true,
  pageSizes: [10, 20, 50],
  total: 0,
};
</script>

<script setup>
import DeepClone from "lodash/cloneDeep";
import { ref, useAttrs, useListeners, watch } from "vue";

const $attrs = useAttrs();
const $listeners = useListeners();
const props = defineProps({
  query: {
    type: [Function, undefined],
    default: undefined,
  },
  columns: {
    type: Array,
    default: () => [],
  },
  initPage: {
    type: Number,
    default: () => 1,
  },
  initSize: {
    type: Number,
    default: () => 10,
  },
  pagination: {
    type: [Object, Boolean],
    default: () => defaultPagination,
  },
});

const emit = defineEmits(["change"]);

// data

let dataSource = ref([]);
let curPagination = ref(resetPagination());

// watch

watch(
  () => props.query,
  () => {
    curPagination.value = resetPagination();
    fetch();
  },
  {
    immediate: true,
  }
);

// methods

function fetch() {
  if (typeof props.query === "function") {
    props
      .query(curPagination.value.currentPage, curPagination.value.pageSize)
      .then(({ list = [], total = 0 }) => {
        dataSource.value = list;
        const pagination = DeepClone(curPagination.value);
        pagination.total = total;
        curPagination.value = pagination;
      });
  }
}

function resetPagination() {
  let pagination = {};
  if (props.pagination) {
    if (typeof props.pagination === "object") {
      pagination = DeepClone(props.pagination);
    } else {
      pagination = DeepClone(defaultPagination);
    }
  }

  return {
    currentPage: props.initPage,
    pageSize: props.initSize,
    ...pagination,
  };
}

function sizeChangeHandler(pageSize) {
  handleTableChange({ pageSize });
}

function currentChangeHandler(currentPage) {
  handleTableChange({ currentPage });
}

//分页变化处理方法
function handleTableChange(pagination) {
  curPagination.value = Object.assign({}, curPagination.value, pagination);
  emit("change", curPagination.value);
  fetch();
}

//以当前分页数据重新请求
function refreshCurrentPage() {
  fetch();
}

// 将当前setup中定义的变量暴露在当前组件示例对象上，以便于父组件的访问
defineExpose({ refreshCurrentPage });
</script>

<style lang="less" scoped>
.pagination {
  margin-top: 10px;
  text-align: right;
}
</style>
