<template>
  <div>
    <el-upload
      class="upload-demo"
      action
      :file-list="currentParams.fileList"
      :accept="currentParams.accept"
      :before-remove="handleRemove"
      :before-upload="beforeUpload"
    >
      <el-button> 选择文件 </el-button>
      &nbsp;
      <span v-if="hint">
        {{ hint }}
      </span>
    </el-upload>
  </div>
</template>

<script>
import { reactive, ref, watch } from "vue";
import { Message } from "@/utils/element";
export default {};
</script>
<script setup>
const props = defineProps({
  fileList: {
    type: Array,
    default: () => [],
  },
  max: { type: Number, default: 1 },
  accept: { type: String, default: "" },
  downloadUrl: { type: String, default: "" },
  disabled: { type: Boolean, default: false },
  hint: { type: String, default: "" },
});
const fileList = ref([]);

const emit = defineEmits(["ok"]);
const currentParams = reactive({
  accept: "",
  max: "",
  downloadUrl: "",
  fileList: "",
  newFileList: [],
  previewVisible: false,
});
watch(
  () => props,
  (val) => {
    if (val) {
      currentParams.accept = props.accept;
      currentParams.max = props.max;
      currentParams.downloadUrl = props.downloadUrl;
      let newFileList = [];
      props.fileList.filter((item, key) => {
        newFileList.push({
          uid: key,
          name: item.name,
          status: "done",
          url: item.path,
          id: item.id,
        });
      });

      currentParams.fileList = newFileList;
    }
  },
  {
    immediate: true,
    deep: true,
  }
);

const uploadImg = (file) => {
  const reader = new FileReader();
  // readAsDataURL：读取为base64格式
  reader.readAsDataURL(file);
  const params = {
    uid: file.uid,
    name: file.name,
    status: "done",
    url: "",
  };
  // onload 在文件读取成功时触发
  reader.onload = () => {
    params.url = reader.result;
    // 实现预览，实际是拿到图片的base64数据去挂在到图片的src上
    if (currentParams.max == 1) {
      currentParams.fileList = [params];
    } else if (currentParams.fileList.length < currentParams.max) {
      currentParams.fileList.push(params);
    }
  };
};

const beforeUpload = (file) => {
  if (
    currentParams.accept != "" &&
    currentParams.accept.indexOf(file.name.substring(file.name.indexOf("."))) <
      0 &&
    currentParams.accept.indexOf(file.type.substring(file.type.indexOf("."))) <
      0
  ) {
    return Message.error("只能上传" + currentParams.accept + "格式的文件");
  }
  if (currentParams.max == 1) {
    currentParams.fileList = [file];
    currentParams.newFileList = [file];
  } else if (currentParams.fileList.length < currentParams.max) {
    currentParams.fileList.push(file);
    currentParams.newFileList.push(file);
  } else {
    return Message.error("最多只能上传" + currentParams.max + "文件");
  }
  emit("ok", currentParams);
  return false;
};

const handleRemove = (file) => {
  if (file.status == "success") {
    const index = currentParams.fileList.indexOf(file);
    const newFileList = currentParams.fileList.slice();
    newFileList.splice(index, 1);
    currentParams.fileList = newFileList;
    currentParams.newFileList.splice(index, 1);
    emit("ok", currentParams);
  }
};
</script>

<style></style>
