<template>
  <el-input
    v-bind="{ ...$attrs, ...props }"
    v-on="{ ...$listeners, input: change }"
  />
</template>
<script>
export default {
  model: {
    prop: "value",
    event: "input",
  },
};
</script>
<script setup>
import { useListeners, useAttrs } from "vue";
const $attrs = useAttrs();
const $listeners = useListeners();

const emit = defineEmits(["input"]);
const props = defineProps({
  value: {
    type: [Number, String],
    default: "",
  },
  disabled: {
    type: Boolean,
    default: false,
  },
  placeholder: {
    type: String,
    default: "",
  },
  size: {
    type: String,
    default: "medium",
  },
  maxLength: {
    type: Number,
    default: 10,
  },
});
const change = (value) => {
  const newValue = value.replace(/\D/g, "");
  if (newValue !== props.value) {
    emit("input", newValue.length ? Number(newValue) : "");
  }
};
</script>

<style></style>
