<template>
  <el-checkbox
    v-bind="{ ...$attrs, value: Boolean(Number($attrs.value)) }"
    v-on="{ ...$listeners, change: handleChange }"
  ></el-checkbox>
</template>

<script>
export default {
  model: {
    prop: "value",
    event: "change",
  },
};
</script>

<script setup name="StringCheckbox">
import { useListeners, useAttrs } from "vue";

const emit = defineEmits(["change"]);

const $attrs = useAttrs();
const $listeners = useListeners();

function handleChange(value, e) {
  value = String(Number(value));
  emit("change", value, e);
}
</script>

<style lang="less" scoped></style>
