<template>
  <div>
    sdsd是多少
    <number-input v-model="num"></number-input>

    <p></p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      num: 2226,
    };
  },
};
</script>

<style></style>
