<template>
  <div class="main-container welcome-container">
    <div class="left">欢迎使用CRM系统-项目订单</div>
    <img class="right" :src="Welcome" alt="" />
  </div>
</template>

<script setup>
import Welcome from "@/assets/imgs/welcome.png";
</script>

<style lang="less" scoped>
.welcome-container {
  display: flex;
  padding-top: 150px;

  box-sizing: border-box;
  .left {
    width: 460px;
    height: 420px;
    padding-top: 250px;

    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);

    box-sizing: border-box;
  }
  .right {
    width: 620px;
    height: 420px;
  }
}
</style>
