<template>
  <div>
    <crm-collapse title="查询条件">
      <button @click="openFirstDialog">open first dialog</button>
    </crm-collapse>
    <crm-collapse title="查询结果">
      content

      <div>
        string:checkbox: <string-checkbox v-model="check"></string-checkbox>
      </div>
      <div>
        number:checkbox:
        <number-checkbox v-model="numberCheck"></number-checkbox>
      </div>
      <div>
        amount-input:
        <amount-input v-model="amount" placeholder="请输入"></amount-input>
      </div>
      <div>
        <crm-table :query="query" :columns="columns">
          <el-table-column slot="age" prop="age" label="age"> </el-table-column>
        </crm-table>
      </div>

      <p>
        老版crm输入框
        <crm-input v-model="num" :max-length="6"></crm-input>
      </p>
      <p>
        只能输入纯数字输入框
        <number-input v-model="num2"></number-input>
      </p>
      <div>123123<my-upload /></div>
      <div>test-upload<test-upload /></div>
      <p>
        <crm-upload
          ref="uploadRef"
          :max="3"
          accept=".jpg,.jpeg,.pdf,.tif,.tiff,.xls,.xlsx,.msg,.png,.doc,.docx"
          hint="文件上限4M/格式限制jpg，jpeg，pdf，tif，tiff，xls，xlsx，msg，png，doc，docx"
          @ok="uploadCallBack"
        />
      </p>
    </crm-collapse>
  </div>
</template>

<script setup name="ProjectList">
import { openDialog } from "@/plugins/dialog";
import { watch, ref } from "vue";
import FirstDialog from "./components/FirstDialog.vue";

const check = ref("1");
const numberCheck = ref(1);
const amount = ref("");
const num = ref(22);
const num2 = ref(33);

setTimeout(() => {
  // 即使是接口请求回来的数据直接赋值，amount-input也会格式化
  amount.value = 1111;
}, 1000);

watch([check, numberCheck], ([checkVal, numberCheckVal]) => {
  console.log(checkVal, numberCheckVal);
});

const columns = [
  {
    title: "name",
    dataIndex: "name",
    width: "200px",
    customRender: (name, row, index) => {
      console.log(row, index);
      return name + "------";
    },
  },
  {
    title: "age",
    dataIndex: "age",
    scopedSlots: { customRender: "age" },
  },
];

function query(page, size) {
  console.log(page, size);
  return Promise.resolve({
    list: [
      {
        name: "andy",
        age: 19,
      },
    ],
    total: 1,
  });
}

function openFirstDialog() {
  openDialog(FirstDialog, {
    data: {
      name: "andy",
      age: "18",
    },
  }).then((data) => {
    console.log("dialog-close-data", data);
  });
}

const uploadCallBack = (res) => {
  console.log(res, "))))");
};
</script>

<style lang="less" scoped></style>
