<template>
  <div class="layout">
    <layout-header
      :isCollapse="isCollapse"
      :hanlderCollapse="hanlderCollapse"
    />
    <div class="layout-body">
      <div class="layout-sider">
        <sider :isCollapse="isCollapse" :menu="menuStore.menu"></sider>
      </div>
      <div class="layout-main">
        <keep-alive>
          <router-view v-if="route.meta.keepAlive" />
        </keep-alive>
        <router-view v-if="!route.meta.keepAlive" />
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref, getCurrentInstance } from "vue";
import useStore from "@/pinia/menu";

const route = getCurrentInstance().proxy.$route;
const isCollapse = ref(false);
const menuStore = useStore();

function hanlderCollapse() {
  isCollapse.value = !isCollapse.value;
}
</script>

<style lang="less" scoped>
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1320px;

  background-color: #f5f7f9;

  .layout-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    padding-right: 10px;

    line-height: 48px;
    text-align: center;

    background-color: #fff;
    box-sizing: border-box;
    .logo-crm {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 220px;
      height: 100%;
      cursor: pointer;
      img {
        width: 122px;
        height: auto;
      }
    }

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 100%;
      cursor: pointer;
      img {
        width: 48px;
        height: auto;
      }
    }

    .collapse-icon {
      font-size: 22px;
      color: #777;
      margin: 0 11px;
      cursor: pointer;
    }
  }
  .layout-body {
    flex: 1;
    display: flex;

    box-sizing: border-box;
    .layout-sider {
      display: flex;
      flex-direction: column;
      // width: 200px;
    }
    .layout-main {
      display: flex;
      flex-direction: column;
      flex: 1;

      border-radius: 6px;
      box-sizing: border-box;
    }
  }
}
</style>
