<template>
  <div class="layout-header">
    <div v-if="!isCollapse" class="logo-crm">
      <img :src="LogoCrm" alt="" />
    </div>
    <div v-else class="logo">
      <img :src="Logo" alt="" />
    </div>
    <i
      v-if="!hideCollapse"
      class="collapse-icon"
      :class="isCollapse ? 'el-icon-s-unfold' : 'el-icon-s-fold'"
      @click="hanlderCollapse"
    ></i>
    <div style="flex: 1"></div>
    <user-dropdown />
  </div>
</template>

<script setup>
import LogoCrm from "@/assets/imgs/logo_crm.png";
import Logo from "@/assets/imgs/logo.png";

defineProps({
  isCollapse: {
    type: Boolean,
    default: false,
  },
  hanlderCollapse: {
    type: Function,
    default: () => new Function(),
  },
  hideCollapse: {
    type: Boolean,
    default: false,
  },
});
</script>

<style lang="less" scoped>
.layout-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding-right: 10px;

  line-height: 48px;
  text-align: center;

  background-color: #fff;
  box-sizing: border-box;
  .logo-crm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 100%;
    cursor: pointer;
    img {
      width: 122px;
      height: auto;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 100%;
    cursor: pointer;
    img {
      width: 48px;
      height: auto;
    }
  }

  .collapse-icon {
    font-size: 22px;
    color: #777;
    margin: 0 11px;
    cursor: pointer;
  }
}
</style>
