<template>
  <router-link :to="data.path" :key="key" @click.native="onClickItem">
    <el-menu-item :class="level > 1 ? 'is-child' : 'not-child'" :index="key">
      <i v-if="data.icon" :class="data.icon"></i>
      <span class="menu-item-title" slot="title">{{ data.title }}</span>
    </el-menu-item>
  </router-link>
</template>

<script setup>
import { inject, onBeforeMount, getCurrentInstance, computed } from "vue";

const vm = getCurrentInstance().proxy;
const props = defineProps({
  data: {
    type: Object,
    default: () => new Object(),
  },
  index: {
    type: Number,
    default: 0,
  },
  parentKey: {
    type: String,
    default: "0",
  },
});

const key = computed(() => `${props.parentKey}-${props.index + 1}`);
const level = computed(() => key.value.split("-").length - 1);
const isActive = computed(() => vm.$route.fullPath === props.data.path);
const paddingLeft = computed(() => (level.value - 1) * 20 + "px");

const setCurrentActive = inject("setCurrentActive");

onBeforeMount(() => {
  if (isActive.value) {
    setCurrentActive(key.value);
  }
});

function onClickItem() {
  setCurrentActive(key.value);
}
</script>

<style lang="less" scoped>
/deep/.el-menu-item.is-active {
  background-color: transparent;
  &.is-child {
    position: relative;
    .menu-item-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      align-items: center;
      width: 179px;
      height: 40px;
      padding-left: v-bind(paddingLeft);

      color: #fff;
      background-color: #1f74ff;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
}
</style>
