<template>
  <el-menu
    :default-active="currentActive"
    class="el-menu-box"
    :collapse="isCollapse"
    :collapse-transition="false"
  >
    <template v-for="(item, index) in menu">
      <sub-menu
        v-if="item.submenus && item.submenus.length"
        :key="index"
        :data="item"
        :index="index"
        :currentActive="currentActive"
      />
      <menu-item v-else :key="index" :data="item" :index="index" />
    </template>
  </el-menu>
</template>

<script setup>
import { ref, provide } from "vue";
defineProps({
  isCollapse: {
    type: Boolean,
    default: () => false,
  },
  menu: {
    type: Array,
    default: () => [],
  },
});

const currentActive = ref("");

provide("setCurrentActive", (value) => {
  currentActive.value = value;
});
</script>

<style lang="less" scoped>
.el-menu-box {
  flex: 1;
  border: none;
  width: 220px;
  user-select: none;
}

.el-menu--collapse.el-menu-box {
  width: 64px;
}

/deep/.el-submenu__title:hover,
/deep/.el-menu-item:hover {
  background-color: transparent;
  span,
  i {
    color: #409eff;
  }
}
</style>
