<template>
  <el-submenu :index="key" :key="key" :class="{ 'is-child-active': isActive }">
    <template slot="title">
      <i :class="data.icon"></i>
      <span>{{ data.title }}</span>
    </template>

    <template v-for="(item, childIndex) in data.submenus">
      <sub-menu
        v-if="item.submenus && item.submenus.length"
        :data="item"
        :index="childIndex"
        :parentKey="key"
        :currentActive="currentActive"
      />
      <menu-item v-else :data="item" :index="childIndex" :parentKey="key" />
    </template>
  </el-submenu>
</template>

<script setup>
import { onMounted, getCurrentInstance, computed, inject } from "vue";

const vm = getCurrentInstance().proxy;

const props = defineProps({
  data: {
    type: Object,
    default: () => new Object(),
  },
  index: {
    type: Number,
    default: 0,
  },
  currentActive: {
    type: String,
  },
  parentKey: {
    type: String,
    default: "0",
  },
});

const key = computed(() => `${props.parentKey}-${props.index + 1}`);
const isActive = computed(() =>
  new RegExp(`^${key.value}`).test(props.currentActive)
);

onMounted(() => {
  vm.$children[0].$parent = vm.$parent;
});
</script>

<style lang="less" scoped>
.el-submenu.is-opened.is-child-active > .el-submenu__title {
  span,
  i {
    color: #409eff;
  }
}
</style>
