<template>
  <el-dropdown>
    <div class="user-dropdown">
      <i class="el-icon-user"></i>
      <span
        :title="userInfo.cname"
        style="padding-left: 5px; vertical-align: middle"
      >
        {{ userInfo.cname }}
      </span>
    </div>
    <el-dropdown-menu class="el-dropdown-menu" slot="dropdown">
      <el-dropdown-item @click.native="logout">退出登录</el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script setup>
import { computed, getCurrentInstance } from "vue";
import useAuthStore from "@/pinia/auth";

const vm = getCurrentInstance().proxy;
const authStore = useAuthStore();

const userInfo = computed(() => authStore.userInfo);

function logout() {
  authStore.setUserInfo(null);
  vm.$router.push({ path: "/login" });
}
</script>

<style lang="less" scoped>
.el-dropdown-menu {
  margin: 0;
  padding: 0;
}
.user-dropdown {
  display: flex;
  align-items: center;
  .el-icon-user {
    font-size: 22px;
  }
}
</style>
