<template>
  <dialog-wrap>
    <span slot="title">first dialog title</span>
    <div class="dialog-content">
      <div>first dialog content</div>
      <div>props data</div>
      <pre>{{ data }}</pre>
      <button @click="openSecondDialog">open second dialog</button>
    </div>
    <template slot="footer">
      <el-button
        type="primary"
        @click="closeDialog({ data: 'first-dialog-data' })"
      >
        confirm
      </el-button>
      <el-button @click="closeDialog()">cancel</el-button>
    </template>
  </dialog-wrap>
</template>

<script setup>
import { openDialog } from "@/plugins/dialog";
import SencondDialog from "./SecondDialog.vue";

const emit = defineEmits(["close"]);

defineProps({
  data: {
    type: Object,
    default: () => null,
  },
});

function openSecondDialog() {
  openDialog(SencondDialog).then((isConfirm) => {
    if (isConfirm) {
      // 确认
    } else {
      // 取消
    }
  });
}

function closeDialog(data) {
  emit("close", data);
}
</script>

<style scoped>
.dialog-content {
  min-width: 300px;
  min-height: 300px;
}
</style>
