<template>
  <dialog-wrap :onConfirm="onComfirm">
    <span slot="title">second dialog title</span>
    <div class="dialog-content">
      <div>second dialog content</div>
    </div>
  </dialog-wrap>
</template>

<script setup>
function onComfirm() {
  console.log("不关闭");
}
</script>
