<template>
  <div class="dw-dialog-wrap">
    <div class="dw-dialog-container">
      <div class="dw-dialog-header">
        <slot name="title"></slot>
        <i class="el-icon-close close-icon" @click="handleCancel"></i>
      </div>
      <div class="dw-dialog-content">
        <slot></slot>
      </div>
      <div class="dw-dialog-footer">
        <slot name="footer"></slot>
        <template v-if="!slots.footer">
          <el-button type="primary" @click="handleConfirm"> 确定 </el-button>
          <el-button @click="handleCancel">取消</el-button>
        </template>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useSlots, getCurrentInstance } from "vue";

const vm = getCurrentInstance().proxy;
const parent = vm.$parent;
const slots = useSlots();

const props = defineProps({
  onConfirm: {
    type: Function,
    default: () => Promise.resolve(),
  },
  onCancel: {
    type: Function,
    default: () => Promise.resolve(),
  },
});

function handleConfirm() {
  if (props.onConfirm instanceof Promise) {
    props.onConfirm().then((data) => {
      parent.$closeDialog(data);
    });
  } else {
    const res = props.onConfirm();
    if (res) {
      parent.$closeDialog(res);
    }
  }
}

function handleCancel() {
  if (props.onCancel instanceof Promise) {
    props.onCancel().then((data) => {
      parent.$closeDialog(data);
    });
  } else {
    const res = props.onCancel();
    if (res) {
      parent.$closeDialog(res);
    }
  }
}
</script>
<style scoped>
.dw-dialog-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  opacity: 0;
}
.dw-dialog-wrap:last-of-type {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
}
.dw-dialog-container {
  position: relative;
  min-height: 200px;
  min-width: 300px;
  margin: auto;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.dw-dialog-header {
  position: relative;
  padding-left: 20px;

  font-size: 14px;
  font-family: PingFangSC, PingFangSC-Medium;
  font-weight: 500;
  text-align: left;
  color: #333333;
  line-height: 42px;

  background: #fff;
  border-bottom: 1px solid #eeeeee;
}

.dw-dialog-content {
  min-height: 200px;
  padding: 5px 24px;
  box-sizing: border-box;
}

.dw-dialog-footer {
  /* position: absolute; */
  /* bottom: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  margin: 0 24px;

  background: #ffffff;
  border-top: 1px solid #eeeeee;
  box-sizing: border-box;
}

.close-icon {
  position: absolute;
  top: 50%;
  right: 10px;

  font-size: 16px;

  transform: translateY(-50%);
  cursor: pointer;
  color: #8c8c8c;
}
</style>
