<template>
  <div v-loading="tableLoading" class="table" :class="{'table-padding': pageinationPosition}">
    <el-table ref="multipleTable" :data="data" :tooltip-effect="tooltipEffect ? 'dark' : ''" :max-height="maxHeight != null ? maxHeight : null" :height="height!=null ? height : null" :highlight-current-row="highlightCurrentRow" style="width: 100%" :header-row-style="{color: '#333333', fontSize: '16px', fontWeight: 600}" @selection-change="handleSelectionChange" @current-change="handleCurrentChange">
      <el-table-column v-if="tooltipEffect" type="selection" width="55">
      </el-table-column>
      <el-table-column v-for="(item, index) in cloumns" :key="index" :prop="item.prop" :label="item.label" :width="item.width" :align="item.align ? item.align : ''" :fixed="item.fixed ? item.fixed : null">
        <template slot-scope="scope">
          <div v-if="item.type == 'text'" class="table-text">
            {{ scope.row[item.prop ]}}
          </div>
          <div v-else-if="item.type == 'popover'" class="table-btns">
            <el-popover placement="top-start" :title="item.title ? item.title : ''" width="200" :trigger="item.trigger ? item.trigger : 'hover'" :content="scope.row[item.prop]">
              <p slot="reference" class="text-overflow">{{ scope.row[item.prop] }}</p>
            </el-popover>
          </div>
          <div v-else-if="item.type == 'options'" class="table-btns">
            <el-button v-for="(btn, btnKey) in item.options" :key="btnKey" :type="btn.type && btn.type !== '' ? btn.type : 'primary'" :icon="btn.icon ? btn.icon : ''" @click="btn.clickEvent(scope.row)">{{ btn.text }}</el-button>
          </div>
          <div v-else-if="item.type == 'router'" class="table-router">
            <el-button type="text" $router.push({ path: item.path, query: {} })>{{ item.text }}</el-button>
          </div>
          <div v-else-if="item.type == 'slot'" class="table-slot">
            <slot :name="item.slot" :row="scope.row" :column="item.prop" :index="scope.$index"></slot>
          </div>
        </template>
        <template v-if="isShowRefresh && index === (cloumns.length - 1)" slot="header">
          <div class="header-option flex-item-center">
            <p>{{ item.label }}</p>
            <i class="el-icon-refresh" @click="refresh"></i>
          </div>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination v-if="showpagination"  class="pageination" :class="{'position-fixed': pageinationPosition}" :layout="pageination" :current-page="page" :page-size="size" :page-sizes="[100, 200, 300, 400]" :total="total" @size-change="currentSizeChange" @current-change="currentChange">
    </el-pagination>

  </div>
</template>

<script setup>
const props = defineProps({
  data: {
    type: Array,
    default: () => [],
    require: true,
  },
  // 表头数组
  cloumns: {
    type: Array,
    default: () => [],
    require: true,
  },
  // 总条数
  total: {
    type: Number,
    default: () => 0,
    require: true,
  },
  // 分页默认功能
  pageination: {
    type: String,
    default: () => "total, sizes, prev, pager, next, jumper",
  },
  // 每页显示条数
  size: {
    type: Number,
    default: () => 10,
  },
  // 当前页
  page: {
    type: Number,
    default: () => 1,
    require: true,
  },
  // 是否显示分页
  showpagination: {
    type: Boolean,
    default: () => true,
  },
  // 是否显示表格多选
  tooltipEffect: {
    type: Boolean,
    default: () => false,
  },
  // 固定分页到页面底部 默认不固定
  pageinationPosition: {
    type: Boolean,
    default: () => false,
  },
  // 是否单选
  highlightCurrentRow: {
    type: Boolean,
    default: () => false,
  },
  // 列表加载状态
  tableLoading: {
    type: Boolean,
    default: () => false,
  },
  // 表格高度
  height: {
    type: String,
    default: () => null,
  },
  // 表格最大高度
  maxHeight: {
    type: String,
    default: () => null,
  },
  // 是否显示刷新列表按钮
  isShowRefresh: {
    type: Boolean,
    default: () => false,
  },
});

const emit = defineEmits([
  "handleChange",
  "handleSelectionChange",
  "handleSizeChange",
  "currentChange",
  "tableRefresh",
]);

const headerRowStyle = () => {
  return "font-size: 16px;font-weight: 600;color: #333333";
};

const currentChange = (page) => {
  emit("handleChange", page);
};

const handleSelectionChange = (arr) => {
  emit("handleSelectionChange", arr);
};

const currentSizeChange = (size) => {
  emit("handleSizeChange", size);
};
const handleCurrentChange = (currentRow) => {
  emit("currentChange", [currentRow, true]);
};
const refresh = () => {
  emit("tableRefresh", true);
};
</script>

<style scoped lang="less">
.table {
  position: relative;
  text-align: right;
  width: 100%;
  &.table-padding {
    padding-bottom: 26px;
  }
}
.pageination {
  &.position-fixed {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background: #ffffff;
  }
}
.header-option {
  i {
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
    color: #409eff;
  }
}
</style>