<template>
  <div>
    <el-dialog title="收货地址" :visible="visible" @close="close" @closed="close"   width="80%">
      <pro-table
        :data="state.list"
        :cloumns="cloumns"
        :size="state.size"
        :total="state.total"
        :tooltip-effect="false" 
        :is-show-refresh="false"
        :page="state.page"
        @handleSelectionChange="handleSelectionChange"
        @handleChange="handleChange"
        @tableRefresh="refresh"
      >
         <template slot="sex" slot-scope="scope">
        {{ scope.row.sex == 1 ? '男' : '女' }}
      </template>
      </pro-table>
    </el-dialog>
  </div>
</template>


<script setup>
import {defineComponent} from 'vue';
import proTable from './ProTable.vue'



import { defineProps,defineEmits,reactive,onMounted } from "vue";

const emit=defineEmits(["close"])
const props=defineProps({
    visible:{
        type:Boolean,
        required: true,
    },
    cloumns:{
        type:Array,
        required:true
    }
})
const state=reactive({
     page: 1,
      size: 10,
      list: [],
      total: 0,
     
      tableSelectArr: []
})

const getData=()=>{
      state.list = [{
            name: '小明',
            sex: 1,
            age: 25
        },{
            name: '小红',
            sex: 2,
            age: 23
        },{
            name: '小李',
            sex: 1,
            age: 26
        }]
        state.total = 300
}

const handleChange=(page)=>{
     state.page = page
        getData()
}
const handleSelectionChange=(arr)=>{
    state.tableSelectArr=arr
}

const refresh=()=>{
       state.page = 1
      getData()
}
onMounted(()=>{
    getData()
    console.log(props,"+++++++++++");
})

const close=()=>{
    emit("close",false)
}
</script>

<style>
</style>