<template>
  <div id="app">
    <div>unocss: <span class="bg-red text-19px">这里写样式</span></div>
    <div>大菠萝看这里: {{ store.welcome }}</div>
    <div>vueuse: {{ state.title }}</div>
    <div>data: {{ state.a1 }}</div>
    <div>computed: {{ hello }}</div>
    <div>
      <el-button type="primary">element-ui</el-button>
      <el-input />
    </div>
    <div>
      CrmTable
      <crm-table ref="crmTable" :query="query">
        <el-table-column label="姓名">
          <template slot-scope="{ row }">
            {{ row.name }}
          </template>
        </el-table-column>
        <el-table-column label="姓名">
          <template slot-scope="{ row }">
            {{ row.name }}
          </template>
        </el-table-column>
        <el-table-column label="姓名">
          <template slot-scope="{ row }">
            {{ row.name }}
          </template>
        </el-table-column>
        <el-table-column label="姓名">
          <template slot-scope="{ row }">
            {{ row.name }}
          </template>
        </el-table-column>
        <el-table-column label="姓名">
          <template slot-scope="{ row }">
            {{ row.name }}
          </template>
        </el-table-column>
        <el-table-column label="姓名">
          <template slot-scope="{ row }">
            {{ row.name }}
          </template>
        </el-table-column>
      </crm-table>
    </div>
    <div>
      <div>这里是路由</div>
      <div>
        <router-view />
      </div>
    </div>

    <div>
      对应 vue 2 中的 $refs
      <pre>
        {{
          that &&
          that.proxy.$refs.crmTable &&
          that.proxy.$refs.crmTable.refreshCurrentPage
        }}
      </pre>
    </div>
  </div>
</template>

<script setup>
import useStore from "./pinia";
import { getCurrentInstance, reactive } from "vue";
import { test } from "@/api/test";
import { fetchData } from "@/utils";

const that = getCurrentInstance();
const store = useStore();

// data

const state = reactive({
  a1: 1,
  title: undefined,
});

const query = (page, size) => {
  // 返回一个 Promise 并携带 { list:Array,total:number } 参数
  return Promise.resolve({ list: [{ name: "112312313" }], total: 100 });
};

const hello = computed(() => {
  return state.a1 + 1;
});

console.log("this -> ", that);

// test();

fetchData(() => {
  return new Promise((res) => {
    setTimeout(() => {
      res();
    }, 5000);
  });
}, 1);

fetchData(test, 2);
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
