<template>
  <div class="login-container">
    <div class="form">
      <img class="logo-crm" :src="logoCrm" alt="logoCrm" />
      <div class="welcome">欢迎登录</div>

      <el-form ref="elform" :model="form" :rules="rules">
        <el-form-item prop="username">
          <el-input v-model="form.username" class="login-input" />
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            type="password"
            v-model="form.password"
            class="login-input"
            show-password
            @keyup.enter.native="onClickLogin"
          />
          <div class="forget-pwd">忘记密码？</div>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" class="login-btn" @click="onClickLogin"
            >登录</el-button
          >
        </el-form-item>
      </el-form>
    </div>
    <img class="login-bg" :src="loginImg" alt="login" />
  </div>
</template>

<script setup>
import loginImg from "@/assets/imgs/login.png";
import logoCrm from "@/assets/imgs/logo_crm.png";

import { reactive, getCurrentInstance, ref } from "vue";
import { login } from "@/api/auth";
import { fetchData } from "@/utils";
import useAuthStore from "@/pinia/auth";

const vm = getCurrentInstance().proxy;
const authStore = useAuthStore();
const elform = ref(null);
const form = reactive({
  username: "",
  password: "",
});
const rules = ref({
  username: [{ required: true, message: "请输入用户名", trigger: "change" }],
  password: [{ required: true, message: "请输入密码", trigger: "change" }],
});

function onClickLogin() {
  elform.value.validate().then(() => {
    fetchData(login, form).then((data) => {
      authStore.setUserInfo(data);
      vm.$router.push({ path: "/" });
    });
  });
}
</script>

<style lang="less" scoped>
.login-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  padding-top: 100px;

  background: linear-gradient(to bottom, #f9fbfe 20%, #ffffff 100%);
  box-sizing: border-box;
  .form {
    width: 480px;
    height: 560px;
    padding: 70px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;

    .logo-crm {
      width: 122px;
      margin-bottom: 30px;
    }

    .welcome {
      line-height: 39px;
      font-size: 26px;
      color: #222222;
      margin-top: 0.67em;
      margin-bottom: 40px;
    }

    .el-form-item {
      position: relative;
      .forget-pwd {
        position: absolute;
        right: 0;
        top: 36px;

        color: #1890ff;
      }
    }

    /deep/.login-input {
      input {
        width: 340px;
        height: 32px;
        background-color: #e8f0fe;
      }
    }
    .login-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 6px;
      width: 100%;
      height: 32px;
      margin-top: 20px;
    }
  }

  .login-bg {
    width: 480px;
    height: 520px;
    margin-top: 20px;
    //   background: #fff;
    //   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    // box-sizing: border-box;
  }
}
</style>
